@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	color:white;
}
body {
	background-color: grey;
	padding: 50px;
}

nav {
  overflow: hidden;
  background-color: #333;
  position: fixed; 
  top: 0; 
  width: 100%; 
}
nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  background: #ddd;
  color: black;
}
.hide {
	display:none;
}
.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 25%;
  background-color: darkgray;
  color: white;
  text-align: center;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
#page-header {
  display: inline-block;
}
